.row {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-left: -15px;
    margin-right: -15px;
}

/* Additional styling for Bootstrap Badge Colors */
.badge-fancy {
    padding: 8px 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* Add margin between badges */
}
.badge-success-fancy {
    background-color: #28a745;
    color: white;
}
.badge-danger-fancy {
    background-color: #dc3545;
    color: white;
}
/* Optional: Additional hover effect */
.badge-fancy:hover {
    opacity: 0.8;
}
.card-body {
    display: flex;
    flex-direction: column;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 500px;
}
.ck-content .image {
    /* Block images */
    max-width: 80%;
    margin: 20px auto;
}
/* Targeting the CKEditor content area */
.ck-content h2 {
    font-size: 32px; /* Equivalent to 2rem if base size is 16px */
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ck-content h3 {
    font-size: 24px; /* 1.5rem */
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 9px;
}

.ck-content h4 {
    font-size: 20px; /* 1.25rem */
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
}

.ck-content p {
    font-size: 16px; /* 1rem */
    margin-bottom: 16px; /* 1rem */
    line-height: 1.5; /* Tailwind's leading-loose */
}

.ck-content ul {
    list-style-type: disc; /* Ensures that bullets are shown */

    margin-bottom: 16px;
}

.ck-content ol {
    list-style-type: decimal; /* Ensures numbered lists */
    padding-left: 20px; /* Adjust as needed for indentation */
    margin-bottom: 16px;
}

.ck-content li {
    margin-bottom: 4px; /* Smaller space between list items */
}

.ck-content a {
    color: #065f46; /* Example of a Tailwind color 'teal-700' */
    text-decoration: underline;
}

.ck-content table {
    width: 100%;
    border-collapse: collapse;
}

.ck-content th,
.ck-content td {
    border: 1px solid #ddd; /* Light gray border */
    padding: 8px; /* Padding inside cells */
}

.ck-content th {
    background-color: #f3f4f6; /* Tailwind gray-100 for header background */
    font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
* ul {
    list-style: none;
}
* a {
    text-decoration: none;
}

body {
    background: #abd1c6;
}


main section.comment-module {
    width: 50%;
    height: auto;
    background: #fff;
    margin: 100px 0px;
    border-radius: 5px;
    padding: 50px 75px;
}
main section.comment-module ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
    margin-left: 0px;
}
main section.comment-module ul li {
    width: 100%;
    position: relative;
}
main section.comment-module ul li .comment {
    width: 100%;
    display: flex;
    column-gap: 20px;
}
main section.comment-module ul li .comment .comment-img {
    width: 7%;
}
main section.comment-module ul li .comment .comment-img img {
    width: 50px;
    height: 50px;
}
main section.comment-module ul li .comment .comment-content {
    width: 93%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
main section.comment-module ul li .comment .comment-content .comment-details {
    width: 100%;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: flex-start;
}
main
    section.comment-module
    ul
    li
    .comment
    .comment-content
    .comment-details
    .comment-name {
    text-transform: capitalize;
}
main
    section.comment-module
    ul
    li
    .comment
    .comment-content
    .comment-details
    .comment-log {
    color: #7a7a7a;
    font-size: 14px;
}
main section.comment-module ul li .comment .comment-content .comment-data {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}
main
    section.comment-module
    ul
    li
    .comment
    .comment-content
    .comment-data
    .comment-likes {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
main
    section.comment-module
    ul
    li
    .comment
    .comment-content
    .comment-data
    .comment-likes
    > div {
    display: flex;
    column-gap: 4px;
    align-items: center;
}
main
    section.comment-module
    ul
    li
    .comment
    .comment-content
    .comment-data
    .comment-likes
    > div
    img {
    cursor: pointer;
}
main
    section.comment-module
    ul
    li
    .comment
    .comment-content
    .comment-data
    .comment-likes
    > div
    span {
    font-weight: 600;
}
main
    section.comment-module
    ul
    li
    .comment
    .comment-content
    .comment-data
    .comment-reply
    a,
main
    section.comment-module
    ul
    li
    .comment
    .comment-content
    .comment-data
    .comment-report
    a {
    color: #272727;
    font-weight: 400;
}
main section.comment-module ul li::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50px;
    transform: translateX(-25px);
    width: 2px;
    height: calc(100% - 60px);
    background: #c5c5c5;
}
main section.comment-module ul li ul {
    margin-top: 35px;
    margin-left: 70px;
    width: calc(100% - 70px);
}

@media screen and (max-width: 1600px) {
    main section.comment-module {
        width: 60%;
    }
}
@media screen and (max-width: 1400px) {
    main section.comment-module {
        width: 70%;
    }
    main section.comment-module ul li .comment .comment-img {
        width: 10%;
    }
    main section.comment-module ul li .comment .comment-content {
        width: 90%;
    }
}
@media screen and (max-width: 1024px) {
    main section.comment-module {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    main section.comment-module {
        width: 96%;
        padding: 75px 10px;
    }
    main section.comment-module ul li .comment {
        column-gap: 12px;
    }
    main section.comment-module ul li .comment .comment-img {
        width: 15%;
    }
    main section.comment-module ul li .comment .comment-img img {
        width: 40px;
        height: 40px;
    }
    main section.comment-module ul li .comment .comment-content {
        width: 85%;
    }
    main
        section.comment-module
        ul
        li
        .comment
        .comment-content
        .comment-details {
        flex-direction: column;
        align-items: flex-start;
    }
    main section.comment-module ul li .comment .comment-content .comment-data {
        column-gap: 12px;
    }
    main section.comment-module ul li::before {
        top: 50px;
        left: 50px;
        transform: translateX(-30px);
        height: calc(100% - 60px);
    }
    main section.comment-module ul li ul {
        margin-top: 25px;
        margin-left: 50px;
        width: calc(100% - 50px);
    }
}
.comment-flex{
    margin-top: 10px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50%;
}
.flex-comment-button{
    min-height: 50px;
    background-color: #3B5998;
    color: white;
    padding: 2px;
    margin-left: 5px;    
}
.flex-comment-text{
    flex: 1;
}
.own-comment{
    margin-top: 10
}
.half-screen-width {
    width: 70vw !important; /* Using !important to override any other inherited width properties */
}
.reply-elem{
    display: none;
}
